<h1>User Records</h1>
<div class="records-container">
    {{#each record}}
    <div class="record">
        <p>{{ssn}}</p>
        {{#each record.accounts}}
        <p>{{creditor}}</p><br>
        <p>{{type}}</p><br>
        <p>{{balance}}</p><br>
        <p>{{status}}</p>
        {{/each}}
        <p>{{credit_score}}</p>
    </div>
    {{/each}}
</div>
