<h1>User Records</h1>
<div class="records-container">
{{#foreach record}}
    <div class="record">
        <p>{{ssn}}</p>
        {{#foreach record.accounts}}
        <p>{{creditor}}</p><br>
        <p>{{type}}</p><br>
        <p>{{balance}}</p><br>
        <p>{{status}}</p>
        {{/foreach}}
        <p>{{credit_score}}</p>
    </div>
</div>
